rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{documents=**} {
      allow write: if request.auth.uid != null;
    }
    match /todos/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId
    }
  }
}