.container {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-question {
  color: var(--white);
  text-align: center;
  margin-bottom: 0;
}

.account-question-button {
  border: none;
  background: none;
  font-weight: 700;
  color: var(--white);
  font-size: 1.125rem;
  align-self: center;
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
  }
}

.logo {
  margin: 2.25rem 0;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  label {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    color: var(--white);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
  }
}
